* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Banhschrift', 'Arial', sans-serif;
    font-weight: 700;
}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 75px auto;
}

.weather-container {
    width: 400px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(139, 139, 139);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #351169;
}

.weather-container.isDay {
    background-color: aliceblue;
    color: #000;
}

.text-fields {
    text-align: center;
    font-size: 3rem;
    height: 70%;
    position: relative;
    padding: 10px;
    color: aliceblue;
}

.text-fields.isDay {
    color: #000;
}

img {
    max-width: 400px;
    max-height: 200px;
}

.forecast {
    height: 30%;
    background-color: #5419a7;
    position: relative;
}

.forecast.isDay {
    background-color: rgb(251, 253, 255);
}

.curve {
    position: absolute;
    width: 100%;
    bottom: 0;
    max-height: 100px;
    overflow: hidden;
}

.curve_up,
.curve_down {
    content: '';
    display: block;
    position: absolute;
    width: 55%;
    height: 100%;
}

.curve_up {
    background-color: #5419a7;
    transform: translate(85%, 60%);
    max-height: 120px;
    border-radius: 88% 50%;
    box-shadow: inset 0 0 5px #351169;
}

.curve_up.isDay {
    background-color: rgb(251, 253, 255);
    box-shadow: inset 0 0 5px aliceblue;
}

.curve_down {
    background-color: #351169;
    transform: translate(-4%, -138%);
    box-shadow: 0 0 5px #351169;
    border-radius: 62% 50%;
}

.curve_down.isDay {
    background-color: aliceblue;
    box-shadow: 0 0 5px aliceblue;
}

.icon-temp-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

.city-name {
    margin: 30px 0 15px;
}

.temperature {
    font-size: 6rem;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 2rem;
}

.description {
    margin-bottom: 20px;
}



.icon-img {
    width: 160px;
    height: 160px;
}


/*menu*/

.menu-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    padding: 20px 30px 20px 10px;
}

span,
span::before,
span::after {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 30px;
    height: 2px;
    background-color: #fff;
    transition: all .3s ease-in-out;
}

span::before {
    content: '';
    top: -8px;
}

span::after {
    content: '';
    top: 8px;
}

.menu-icon.active>span {
    transform: rotate(45deg);
}

.menu-icon.active>span:before {
    top: 0;
    transform: rotate(0deg);
}

.menu-icon.active>span:after {
    top: 0;
    transform: rotate(90deg);
}


/*form*/

.user-input {
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    height: 59px;
    font-size: 2rem;
    margin-right: 15px;
}

.form {
    width: 60%;
    height: 100%;
    max-width: 400px;
    margin: 0 auto 30px;
    display: flex;
}

.submit-btn {
    width: 40%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(133, 133, 133);
    background-color: rgb(255, 238, 0);
    font-weight: 700;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: rgb(228, 213, 0);
}

.submit-btn:active {
    background-color: #fff;
}


/*Forecast*/

.forecast__items-wrapper {
    width: 100%;
    height: 100%;
    padding: 50px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.forecast__item {
    height: 110px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(185, 185, 185);
    padding: 5px;
}

.forecast__img-wrapper {
    width: 40px;
    height: 40px;
}

.forecast__img {
    width: 100%;
    height: 100%;
}